In [24]:
import pandas as pd

df = pd.read_csv("nyc_restaurants.csv")

In [25]:
df.value_counts("boro")

boro
MANHATTAN        118994
BROOKLYN          76451
QUEENS            67431
BRONX             26776
STATEN ISLAND     10323
Missing              25
dtype: int64

In [26]:
df.value_counts("violation_code")

violation_code
10F    41984
08A    32108
04L    21552
06D    20379
06C    19833
       ...
03F        2
04G        2
16F        1
15G        1
04I        1
Length: 99, dtype: int64

In [27]:
df.value_counts("score")

score
12.0     31167
13.0     23147
10.0     17875
11.0     16499
9.0      15217
         ...
140.0        6
155.0        6
132.0        6
152.0        4
104.0        3
Length: 130, dtype: int64

In [28]:
df.value_counts("grade")

grade
A                 119647
B                  19215
C                   5888
Z                   3316
P                   1819
Not Yet Graded      1566
dtype: int64

In [29]:
df = df[df["score"].notna()]

In [30]:
df = df[df["violation_code"].notna()]

In [32]:
df.to_csv('updated_nyc_restaurants.csv')